accelerate==0.28.0
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
async-timeout==4.0.3
attrs==23.2.0
backports.zoneinfo==0.2.1
bitsandbytes==0.43.0
cdifflib==1.2.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Cython==3.0.9
datasets==2.14.6
dateparser==1.2.0
dill==0.3.7
docopt==0.6.2
editdistance==0.6.2
ffmpeg-python==0.2.0
filelock==3.13.1
fire==0.6.0
frozenlist==1.4.1
fsspec==2023.10.0
future==1.0.0
huggingface-hub==0.16.4
idna==3.6
importlib_metadata==7.1.0
inflect==7.0.0
Jinja2==3.1.2
joblib==1.3.2
llvmlite==0.40.1
lxml==5.3.0
MarkupSafe==2.1.5
more-itertools==10.2.0
mosestokenizer==1.2.1
multidict==6.0.5
multiprocess==0.70.15
nemo_text_processing==0.3.0rc0
nltk==3.8.1
num2words==0.5.12
numba==0.57.0
numpy==1.24.4
openai-whisper==20231117
openfile==0.0.7
packaging==24.0
pandas==2.0.1
peft==0.6.0
pillow==10.2.0
portalocker==2.10.1
protobuf==4.25.0
psutil==5.9.8
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pynini==2.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==2.13.7
regex==2023.12.25
requests==2.31.0
sacrebleu==2.4.3
sacremoses==0.1.1
safetensors==0.4.2
sentencepiece==0.2.0
six==1.16.0
soundfile==0.12.1
tabulate==0.9.0
termcolor==2.4.0
tiktoken==0.3.3
tokenizers==0.14.1
toolwrapper==2.1.0
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.66.2
transformers==4.35.0
triton==2.3.0
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
uctools==1.3.0
urllib3==2.2.1
wget==3.2
whisper_normalizer==0.0.8
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.18.1
xlora @ git+https://github.com/Abdullah-kwl/xlora.git@ac56fa0ff207d0d9b302a9c1a30a86c1dead2a53